In [2]:
#By Ambrose Alanda
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("UceResultsBySchool2011-2016.csv")
df

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [5]:
#Get your objectives clear
#dataset before cleaning
df.head(20)

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
5,2011,MASAKA MAIN,"ST.HENRY'S COLLEGE,KITOVU",164.0,159.0,97.0,5.0,3.0,NaN,0.0,...,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
6,2011,WAKISO,"KING'S COLLEGE,BUDO",218.0,210.0,96.3,7.0,3.2,NaN,0.0,...,6.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
7,2011,KIBAALE,"NOTRE DAME ACADEMY,BUSEESA",25.0,24.0,96.0,1.0,4.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
8,2011,KAMPALA,"ST.JOSEPH'S GIRLS,NSAMBYA",192.0,183.0,95.3,9.0,4.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
9,2011,WAKISO,"ST.MARY'S SECONDARY SCHOOL,KITENDE",440.0,416.0,94.5,22.0,5.0,NaN,0.0,...,6.0,0.0,NaN,0.0,NaN,0.4,1.0,0.0,NaN,0.0
10,2011,MBARARA,NTARE SCHOOL,248.0,234.0,94.4,11.0,4.4,NaN,0.0,...,11.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.2
11,2011,WAKISO,"ST.MARY'S COLLEGE,KISUBI",202.0,190.0,94.1,3.0,1.5,1.0,0.5,...,3.0,0.5,1.0,0.0,NaN,0.0,NaN,0.0,NaN,4.0
12,2011,KALUNGU,BUKALASA MINOR SEMINARY,51.0,46.0,90.2,5.0,9.8,NaN,0.0,...,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
13,2011,MBARARA,MARYHILL HIGH SCHOOL,226.0,203.0,89.8,23.0,10.2,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
14,2011,WAKISO,"TRINITY COLLEGE,NABBINGO",192.0,170.0,88.5,21.0,10.9,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
15,2011,MUKONO,"ST.JOSEPH'S SECONDARY SCHOOL,NAGGALAMA",222.0,195.0,87.8,26.0,11.7,1.0,0.5,...,9.0,0.8,1.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0
16,2011,WAKISO,KISUBI SEMINARY,49.0,43.0,87.8,6.0,12.2,NaN,0.0,...,6.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
17,2011,LUWERO,NDEJJE SECONDARY SCHOOL,203.0,178.0,87.7,22.0,10.8,1.0,0.5,...,6.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.7
18,2011,MOROTO,"NADIKET SEMINARY,MOROTO",15.0,13.0,86.7,2.0,13.3,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
19,2011,MPIGI,ST.JOSEPH OF NAZARETH H/S,36.0,31.0,86.1,5.0,13.9,NaN,0.0,...,1.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0

In [6]:
#Check the shape | to determine the number of the rows and columns 
#Handled by*****************
df.shape

(17639, 48)

In [8]:
#Preparation and Preprocessing or Data cleaning
df.columns

Index(['YEAR', 'DISTRICT ', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1 ',
       'FEMALE % DIV1 ', 'FEMALE TOTAL DIV2 ', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X ',
       'MALE CANDIDATES', 'MALE TOTAL DIV1 ', 'MALE % DIV1 ',
       'MALE TOTAL DIV2 ', 'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3',
       'MALE TOTAL DIV4', 'MALE % DIV4 ', 'MALE TOTAL DIV7 ', 'MALE % DIV7',
       'MALE TOTAL DIV9 ', 'MALE % DIV9', 'MALE TOTAL X ', 'MALE % X'],
      dtype='object')

In [ ]:
#remove the white Spaces

In [11]:
#Replace columns with underscores
df.columns = df.columns.str.replace(" ", "_")
df.columns

Index(['YEAR', 'DISTRICT_', 'SCHOOL', 'TOTAL_CANDIDATES', 'TOTAL_DIV_1',
       '%_DIV_1', 'TOTAL_DIV_2', '%_DIV_2', 'TOTAL_DIV_3', '%_DIV_3',
       'TOTAL_DIV_4', '%_DIV_4', 'TOTAL_DIV_7', '%_DIV_7', 'TOTAL_DIV_9',
       '%_DIV_9', 'TOTAL_X', '%_X', 'FEMALE_CANDIDATES', 'FEMALE_TOTAL_DIV1_',
       'FEMALE_%_DIV1_', 'FEMALE_TOTAL_DIV2_', 'FEMALE_%_DIV2',
       'FEMALE_TOTAL_DIV3', 'FEMALE_%_DIV3', 'FEMALE_TOTAL_DIV4',
       'FEMALE_%_DIV4', 'FEMALE_TOTAL_DIV7', 'FEMALE_%_DIV7',
       'FEMALE_TOTAL_DIV9', 'FEMALE_%_DIV9', 'FEMALE_TOTAL_X', 'FEMALE_%_X_',
       'MALE_CANDIDATES', 'MALE_TOTAL_DIV1_', 'MALE_%_DIV1_',
       'MALE_TOTAL_DIV2_', 'MALE_%_DIV2', 'MALE_TOTAL_DIV3', 'MALE_%_DIV3',
       'MALE_TOTAL_DIV4', 'MALE_%_DIV4_', 'MALE_TOTAL_DIV7_', 'MALE_%_DIV7',
       'MALE_TOTAL_DIV9_', 'MALE_%_DIV9', 'MALE_TOTAL_X_', 'MALE_%_X'],
      dtype='object')

In [12]:
#Check for Duplicates

In [14]:
#zcheck for the Number of rows that are null
null_rows = df[df.isna().any(axis=1)]
before_computation = len(null_rows)

print(before_computation)

14511

In [16]:
#Remove rows without school names
df.dropna(thresh=None, subset=['SCHOOL'], inplace=True)

In [ ]:
#Statistics for Data Science
#Descriptive statistics, measure central tendency (Mean, median, mode, ) measure dispersion (standard)
#probability
#Inferential statistics (make predictions, identify variables and hypothesis)
#Modeling
#ML
#Regression, classification, cluster, anomaly detection
#Web Scraping using Beautiful Soup and Selenium 

#250722359866

#Python data collection
#Use method corr() calculates correlation coefficients between all columns in dataframe. 
#Strong Positive correlation 1 Strong Negative Correlation -1
#Perfect correlation 1  Pqerfect Negative Correlation 
#Good correlation : when above 0.5
#Bad correlation : when less than 0.5 can be

In [19]:
#Example
df = pd.DataFrame({
    'x': [1,2,3,4,5],
    'y': [6,7,8,9,10],
    'z': [11,12,13,14,15]
})

correlation = df.corr()
print(correlation)

     x    y    z
x  1.0  1.0  1.0
y  1.0  1.0  1.0
z  1.0  1.0  1.0